[2021-04-01 13:45] jeffbaumes opened #5 "Consider ISO8601 for datetime which would be much easier to parse and validate across systems"
Basically the portal team would like to review with the metadata team the choice of this more difficult to parse datetime. If there are good reasons for this format we can keep it. If there are standard libraries for parsing these somewhat odd timestamps we should utilize them.

[2021-05-04 22:00] dwinston opened #1 "design doc + prototype for data management system"
This work is related to microbiomedata/workflow_documentation#5 (design doc / api spec for workflow execution automation) but deserves its own "place" (this issue) to track progress and completion.

- [ ] support demo for microbiomedata/workflow_documentation#5
- [ ] facilitate performance of microbiomedata/nmdc-metadata#309
- [ ] SOP for process of generating and integrating new data objects. (se

[2021-05-06 15:54] dwinston opened #2 "convert notebook-based JSON->Mongo ETL to dagster-based JSON->Terminus ETL"
Currently, the portal-directed metadata ETL has two parts:

1. The ETL for dumped JGI GOLD metadata to a NMDC-Schema-compliant JSON file. This process is currently wrapped as the [`nmdc_runtime.solids.jgi.get_json_db`](https://github.com/microbiomedata/nmdc-runtime/blob/e21c011b64f946237b65b9dfa63204de5c2b025e/nmdc_runtime/solids/jgi.py#L19) dagster solid.
2. A series of Jupyter notebooks that tak

[2021-05-06 21:14] dwinston commented on #1
cc @kfagnan @dehays

[2021-05-11 20:29] wdduncan opened #3 "move nmdc metadata translation code to nmdc-runtime"
Move the translation code in `nmdc-metadata/metadata-translation` to the `nmdc-runtime` repo. This will make ETL management easier.

@dwinston I'm putting this in a ticket so that we can reference in a pull request.

[2021-05-12 17:57] dwinston commented on #3
The `gold_etl` pipeline currently fails because I haven't added all of its dependencies to [requirements/main.in](https://github.com/microbiomedata/nmdc-runtime/blob/33f1084cccd4cd504c930935c46e6bcd45e47923/requirements/main.in). For example, I currently get a `ModuleNotFoundError: No module named 'git_root'`.

This seems like a good exercise for you @wdduncan to get familiarized with the repo. `m

[2021-05-13 17:14] #3 closed

[2021-05-13 19:54] dwinston commented on #2
will try to address a proposed solution to microbiomedata/nmdc-metadata#342 via an additional solid or two.

[2021-05-19 03:02] wdduncan commented on #5
I went through the schema looking for timestamp fields. In MIXS, I found the following fields took dates as values:
[code]
Of these terms, only `collection_date` has data values associated with it, and these values are  already form  in `YYYY-MM-DD`.

As for the data that I am pulling in from GOLD, the only fields I found with datetime values were the `add_date` and `mod_date` fields in the `biosa

[2021-05-21 03:08] wdduncan commented on #5
@dwinston I've made the changes to my code, but on the repo you moved the code that was in `metadata-translation/src/bin/lib`. I remember you mentioning something about this ... but where did you move it to?

Once we figure this out we can merge PR https://github.com/microbiomedata/nmdc-runtime/pull/6.

[2021-05-21 12:38] dwinston commented on #5
It is now in [metadata-translation/src/bin/lib](https://github.com/microbiomedata/nmdc-runtime/tree/2078951259f84a30784828663ddf2c82c00b02aa/metadata-translation/src/bin/lib) in the nmdc-runtime repo as well.

I had it there in my local repository, but it wasn't under version control because of a conflicting `lib/` entry for Python packaging in the `.gitignore`. I added `!metadata-translation/src/

[2021-05-25 16:48] dwinston opened #7 "mongo access over HTTPS"
NERSC Spin doesn't allow exposing a MongoDB service at this time.

I propose setting up an [Eve](https://docs.python-eve.org/en/stable/index.html) REST API to expose external access to the MongoDB.

@jbeezley have you worked with Eve?

[2021-05-25 22:43] dwinston commented on #5
I merged in @wdduncan's PR #6. Will close this once the change is propagated for nmdc-server ingest, i.e. will co-close with #2.

[2021-05-28 17:05] ssarrafan commented on #1
@dwinston I know you're on vacation so I will move this to the June sprint which starts next week.

[2021-05-29 02:12] wdduncan commented on #5
@ssarrafan this is pretty much finished, but waiting on @dwinston to close the ticket. So, I'll move this to the June sprint.

[2021-06-01 20:57] dwinston commented on #5
As the code for this is written, and what remains is for the metadata to be re-processed, I think this issue can be closed for now. It should be re-opened if any datetimes are discovered to be improperly encoded.

[2021-06-01 20:57] #5 closed

[2021-06-22 20:00] wdduncan opened #8 "run ETL with new GOLD dump NMDC_DUMP_Jun_21_2021.zip"
The `nmdc-schema` allows for a `biosample` to be `part of` a `study`. The ETL needs to be run to link the GOLD biosamples to studies via `part of`.

[2021-06-25 00:39] #8 closed

[2021-06-25 15:38] cmungall opened #10 "clarify purpose of nmdc_database.json file in this repo and make it easier to"
I frequently need access to the latest NMDC sample metadata for various purposes - e.g analyze patterns of ENVO usage, GOLD usage, sparsity of mixs variables, etc. We also have various collaborators e.g. ENSURABLE who would like access.

Ultimately this will all be available via API but in the interim it would be great to make all this more transparent

Where should I download data?

 - https://po

[2021-06-25 17:46] dwinston commented on #10
The one in the repo is a snapshot of "real" output of the GOLD ETL (Bill's pipeline), i.e. the output of the [`nmdc_runtime.solids.jgi.run_etl`](https://github.com/microbiomedata/nmdc-runtime/blob/07b38e7b0088229373c8eeb0ce89561294e15090/nmdc_runtime/solids/jgi.py#L59) solid. However, it does not reflect additions after this step of the database reproduction pipeline, e.g. adding data objects.

I

[2021-06-30 19:36] ssarrafan commented on #1
Adding backlog label. Not assigned to a sprint.

[2021-07-01 18:45] dwinston commented on #2
Update: the sequence of seven notebooks listed in (2) above have been consolidated and extended as [microbiomedata/nmdc-runtime/metadata-translation/notebooks/202106_curation_updates.ipynb](https://github.com/microbiomedata/nmdc-runtime/blob/e206ff7f50f2300c5dbd6dfea520f221da73da3b/metadata-translation/notebooks/202106_curation_updates.ipynb) for the upcoming release. This issue remains open, with

[2021-07-06 21:23] dwinston commented on #2
Note: normalize `study_set.doi.has_raw_value` to `re.match(r"https://doi.org/")`

[2021-07-07 20:36] ssarrafan commented on #1
Discussed with @dwinston on SLACK and adding to July Sprint as the goal is to complete this in July.

[2021-07-08 15:35] wdduncan opened #11 "missing 108 samples from the NMDC_DUMP_Jun_21_2021 GOLD data dump"
The ETL process on the `NMDC_DUMP_Jun_21_2021` GOLD data dump failed translate all the biosamples. A list of the gold ids of 108 such failures are listed below.

cc @dwinston

[code]

[2021-07-08 16:18] dwinston commented on #11
Thanks for opening this, @wdduncan. We've isolated the issue to the [`jgi.run_etl`](https://github.com/microbiomedata/nmdc-runtime/blob/ce7a740696eaf4fbc0634e415a92cae432a762b6/nmdc_runtime/solids/jgi.py#L59) solid, which encapsulates the translation of the JGI GOLD export to the NMDC schema format.

Let me know if you have a suggestion for a better name for this. I'm thinking to rename the `jgi`

[2021-07-08 17:05] wdduncan commented on #11
`gold_translation.run_etl` seems reasonable to me.

[2021-07-08 17:50] dwinston commented on #11
👍 done

[2021-07-09 01:51] wdduncan commented on #11
Updating ticket with tasks discussed on infrastructure/kitware call.

The reason for the missing biosample records was that the `env_broad_scale` values were missing for these records. Since this is a required field in the schema, the records were being filtered out.
After reviewing the missing records, we decided:
- [ ] update the missing `env_broad_scale` values in the GOLD ETL dump with the val

[2021-07-09 01:56] wdduncan commented on #11
@pvangay requests that biosample `Gb0119280` GOLD path be updated to:
[code]
Proposed values for the mixs triad are:
[code]
@jagadishcs does sound okay to you?

[2021-07-09 21:03] jagadishcs commented on #11
@wdduncan
@pvangay
@TBKReddy

- The BioSample, https://gold.jgi.doe.gov/biosample?id=Gb0119280 has Sample Collection Site - Enriched soil from Old Woman Creek wetland and Habitat - Enriched soil. If there is any change in the biosample / material studied, multiple fields, including biosample name, project name along with GOLD ecosystem classification path and EnvO triad, etc. in the GOLD have to b

[2021-07-09 21:27] pvangay commented on #11
@jagadishcs this is confirmed to be a moose gut sample according to Reb Daly, who ran this study for Kelly Wrighton. We talked about this at length and I just confirmed again with her now. Please update it accordingly. As for the ENVO and GOLD terms, if the initial assignments I came up with for a "moose gut environment" are incorrect, then please update it to what is most appropriate as that area

[2021-07-09 21:36] TBKReddy commented on #11
@jagadishcs thanks for looping me on the metadata update for https://gold.jgi.doe.gov/biosample?id=Gb0119280 from soil sample to host associated fecal sample and @pvangay for providing additional information from the PI.

@jagadishcs go ahead and create a GOLD ticket for updatingng this biosample/project and notifying NCBI about these updates.

For ENVO broad scale, leave it blank in GOLD, we will

[2021-07-09 21:38] emileyfadrosh commented on #11
Closing this ticket as no further work on the NMDC side is needed. Thanks @pvangay for confirming the metadata updates needed for GOLD.

[2021-07-12 16:54] dwinston opened #13 "hotfixes.csv to ensure metadata overrides on re-processing"
A spreadsheet of changes to metadata entity (e.g. study) attributes was compiled in preparation for the upcoming release. It has saved as CSV and persisted in this repo as [metadata-translation/src/data/2021-07-02-study-changes.csv](https://github.com/microbiomedata/nmdc-runtime/blob/b80748d67b6676a146ef7be2de5c46057b74f833/metadata-translation/src/data/2021-07-02-study-changes.csv).

Recently, an

[2021-07-13 00:40] cmungall commented on #13
this is great, I didn't actually know these files existed!

I am not necessarily attached to the file being yaml or csv, one file vs multiple ISO-date files...

I do recommend keeping under version control in github however.

the main thing is that if we have a system in place, then the curators/biologists can apply their patches as necessary and we don't need to get into time-consuming ad-hoc fix

[2021-07-13 00:51] cmungall commented on #13
Placing another comment here, although this is more general:

having the ability to specify patches to metadata is generally useful, especially for sample metadata where we have the problem of multiple databases making their own repairs to metadata fields with poor mechanisms to feedback to source.

This seems to be the idea with

https://www.ebi.ac.uk/ena/clearinghouse/api/#/

From the docs:

_Th

[2021-07-13 16:41] pvangay commented on #11
@TBKReddy @jagadishcs I followed up again with Reb to make sure we understand exactly how the "moose rumen" was sampled -- and she said that they implanted a port into the moose's rumen to directly sample from there. So my apologies for assuming it was fecal material. Please update that accordingly -- could you let us know what your final recommendations for the GOLD and ENVO terms are based on th

[2021-07-13 16:51] pvangay commented on #13
@dwinston sounds reasonable to me!

Are the hotfixes in the CSV applied from top down, in order? i.e. items at the bottom will overwrite those at the top?

[2021-07-13 20:14] ssarrafan opened #16 "S4G1 - Data Identification for testing"
Data identification for testing
Identify small set of raw data for processing from the same study (Pajau/Montana)
- 1 metagenome - 1 file
- 1 metaproteome - 1 file
- 1 metabolome - 1file
Put file name, sample ID, file location into a spreadsheet - manual hand-off (Pajau/Montana)

Step 1 of Goal 1 for Sprint 4
See https://docs.google.com/document/d/1iBNXkBn24ZkmJkeptoqpyjcz5PAQU59ZjMOzDObnx4E/edit?

[2021-07-13 20:18] ssarrafan opened #17 "S4G1 - Data Processing, Workflow definition"
Workflows defined for each of the test raw data files - yes
Metagenome - done
Metabolomics (GCMS?) - done >>> future sprint

Site available with computing capacity to process the raw data files
 - Develop/deploy services to turn NERSC into a site (Shane?)
 - Develop/deploy services to turn EMSL into a site (Yuri) >>>> EMSL will be done in future sprint

Step 2 of Goal 1 for Sprint 4
See https://do

[2021-07-13 20:20] ssarrafan opened #18 "S4G1 - Data Processing, Site Deployment"
Date files registered with the main NMDC service
 - establish a basic protocol for this

Step 3 of Goal 1 for Sprint 4
See https://docs.google.com/document/d/1iBNXkBn24ZkmJkeptoqpyjcz5PAQU59ZjMOzDObnx4E/edit?ts=60d55721#heading=h.gy54da3ooy3b for more details

[2021-07-13 20:25] ssarrafan opened #19 "S4G1 - Data Processing, Run Workflows (NERSC)"
New files are in the system (Shane) - service at NERSC site should pick up the raw data and for processing metaG;
- Workflows are run
- New data and metadata are generated
- NERSC - outputs moved to www directory in the project directory
- New data (URLs) and metadata are registered with the NMDC runtime service

Step 4 of Goal 1 for Sprint 4
See https://docs.google.com/document/d/1iBNXkBn24ZkmJke

[2021-07-13 20:25] ssarrafan opened #20 "S4G1 - Data Processing, Run Workflows (EMSL)"
New files are in the system (Yuri) - EMSL site should pick up the raw data for processing metaB
- Workflows are run
- New data and metadata are generated
- EMSL - outputs moved to the nmdc-pilot space
New data (URLs) and metadata are registered with the NMDC runtime service

Step 4 of Goal 1 for Sprint 4
See https://docs.google.com/document/d/1iBNXkBn24ZkmJkeptoqpyjcz5PAQU59ZjMOzDObnx4E/edit?ts=60

[2021-07-13 20:28] ssarrafan opened #21 "S4G1 - Validate workflow metadata against schema"
New unvalidated workflow metadata is available
- Validation against the schema (Donny)
- Ingest into Mongo (Donny)
- Update NMDC runtime with new valid data available (Donny)

Step 5 of Goal 1 for Sprint 4
See https://docs.google.com/document/d/1iBNXkBn24ZkmJkeptoqpyjcz5PAQU59ZjMOzDObnx4E/edit?ts=60d55721#heading=h.gy54da3ooy3b for more details

[2021-07-13 20:30] ssarrafan opened #22 "S4G1 - Ingest new data into portal"
Make new data available in portal
- trigger portal ingest process for new data

Step 6 of Goal 1 for Sprint 4
See https://docs.google.com/document/d/1iBNXkBn24ZkmJkeptoqpyjcz5PAQU59ZjMOzDObnx4E/edit?ts=60d55721#heading=h.gy54da3ooy3b for more details

[2021-07-13 23:04] ssarrafan commented on #20
Heard that Yuri will be on vacation so for July we'll focus on the JGI data and workflow proof of concept. Will move this to backlog and keep for August.
@emileyfadrosh
@SamuelPurvine

[2021-07-13 23:06] ssarrafan commented on #17
Heard that Yuri will be on vacation so for July we'll focus on the JGI data and workflow proof of concept. Removing Yuri from this ticket for now.

@emileyfadrosh
@SamuelPurvine

[2021-07-14 01:22] TBKReddy commented on #11
@pvangay, thanks for this additional information. I updated GOLD ticket where the needed updates work is being tracked. @jagadishcs  will get to this tomorrow after his return and will keep you posted or point you to the updated values.  Mean while, I wanted to check if the moose was fed with any special diet or anything was added to the rumen contents, or it is on its natural/normal diet. If you

[2021-07-16 16:19] dwinston commented on #10
The latest NMDC sample metadata is available as a DRS bundle here:
https://drs.microbiomedata.org/ga4gh/drs/v1/objects/y3ax-8bq3-60
(redirects to https://drs.microbiomedata.org/objects/y3ax-8bq3-60).
The link returns a DRS bundle object, with the 15 collections as contents, each a DRS blob.
For example the study set blob is listed with ID "jh4z-z81d-76", so it is retrievable via
https://drs.microb

[2021-07-16 16:19] #10 closed

[2021-07-16 18:35] pvangay commented on #11
@TBKReddy: No special diet - just natural vegetation in Alaska.

FYI, they did reference [this paper](https://www.nature.com/articles/s41564-018-0225-4?utm_source=Nature_community&utm_medium=Community_sites&utm_content=BenJoh-Nature-MultipleJournals-Microbiology-Global&utm_campaign=MultipleJournals_USG_MICRO), which has much more detail about moose sampling and procedures. Note that the paper refe

[2021-07-16 19:29] TBKReddy commented on #11
@pvangay thanks for the additional information. Yes, you can go ahead and close this ticket.

@jagadishcs , please note the geographic location for this sample (Gb0119280). Now it is Alaska and not Ohio.

[2021-07-16 19:31] pvangay commented on #11
Thank you @TBKReddy !!

[2021-07-16 20:11] ssarrafan commented on #11
Adding links to related issues even though it's closed now
 https://github.com/microbiomedata/nmdc-metadata/issues/355
 https://github.com/microbiomedata/nmdc-metadata/issues/356

[2021-07-16 20:58] dwinston commented on #2
completion of first two tasks should close microbiomedata/nmdc-metadata#347

[2021-07-16 21:49] ssarrafan commented on #16
After discussions with @emileyfadrosh the goal for the July sprint will be to focus on just the JGI metagenome file.
@pvangay and @mslarae13 can you put the file name, sample ID and file location into a spreadsheet and hand off to @scanon to proceed with the second step in https://github.com/microbiomedata/nmdc-runtime/issues/17

[2021-07-20 20:58] pvangay commented on #16
Confirmed with Chris S. that this is an appropriate SPRUCE sample with metaG data to proceed with. Confirmed with lead. PI Erik L. that this is ok too.
- Sample ID in GOLD: [Gb0139007](https://gold.jgi.doe.gov/biosample?id=Gb0139007)

@scanon is using the JAMO API to fetch and stage the files - confirmed that he has already gotten the metaG raw data file for this specific sample. In the future, we

[2021-07-20 21:27] pvangay commented on #16
woops - didn't realize that there was a separate issue for Shane's task: https://github.com/microbiomedata/nmdc-runtime/issues/19

Closing this issue since this is done.

[2021-07-20 21:27] #16 closed

[2021-07-21 22:04] ssarrafan commented on #20
@corilo please let me know if this should still be a part of the July sprint and I can move it back to the project board.

[2021-07-28 02:37] jagadishcs commented on #11
Hi @wdduncan,
@TBKReddy
Reopening this issue to let you know the updated metadata in GOLD for a [BioSample](https://gold.jgi.doe.gov/biosample?id=Gb0119280) (Gb0119280), so that you can please update accordingly in the NMDC biosample [entry](https://data.microbiomedata.org/details/sample/gold:Gb0119280):

New BioSample Name: Rumen-fistulated moose microbial communities from Alaska, USA - LMS_cello

[2021-07-28 19:24] cmungall commented on #11
UBERON:0007365 ! rumen

UBERON:0006314 ! biological fluid

But note we have not yet discussed host-associated, I didn't realize we were doing these. There are specific fields for the host-associated package that are better homes for this level of specificity. From the mixs schema:

[code]

[2021-07-28 20:19] dwinston commented on #13
@pvangay correct.

[2021-07-28 20:20] wdduncan opened #23 "Add hotfix functionality"
When the data needs to be changed, we need to implement a consistent method to make hotfixes to the data.

cc @cmungall @dehays @dwinston @wdduncan

[2021-07-30 22:21] ssarrafan commented on #17
@scanon can you update this issue when you're back from vacation please. I'm moving to August.

[2021-08-02 16:49] ssarrafan commented on #11
Checked with @wdduncan and @emileyfadrosh and closing this issue. The moose sample will be removed from the portal.

[2021-08-02 16:49] #11 closed

[2021-08-03 00:02] ssarrafan commented on #22
On hold till the previous steps are done.

[2021-08-03 17:30] ssarrafan opened #24 "Implement NMDC ID generation service"
Implement ID generation service for NMDC based on July discussions and approved approach documented in https://docs.google.com/document/d/1cqTKtHTtKfXmfed41FpQGLO-PkXvgYT7_secbu8ZT0w/edit#heading=h.978dcrst4ubh

[2021-08-03 20:28] wdduncan commented on #23
After meeting with @dwinston and @dehays, we decided on the attached image as a high level workflow for hotfixes.

![NMDC ETL Workflow Proposal](https://user-images.githubusercontent.com/3186638/128081634-f108b12f-0114-41d7-9b7d-c213de4143cb.png)

[2021-08-04 17:12] ssarrafan commented on #23
Added to August sprint and added Large label per Bill's update on the stand-up today.

[2021-08-06 14:50] dwinston commented on #24
planning to borrow heavily from the n2t.net/eggnog API: <https://n2t.net/e/n2t_apidoc.html>.

will likely purge and repurpose current [nmdc_runtime.api.endpoints.ids](https://github.com/microbiomedata/nmdc-runtime/blob/e1abea0ae4caf25377b0689d6ee5ba2e4f6ac89f/nmdc_runtime/api/endpoints/ids.py) module.

outline of proposed endoints:
- POST /ids/mint
- POST /ids/bindings
- GET /ids/bindings/{rest:pa

[2021-08-13 21:34] ssarrafan commented on #24
Moved to 'in progress' since Donny is actively working on this.

[2021-08-13 23:37] ssarrafan commented on #23
@wdduncan since this is a large issue do you anticipate that it will still be done by the end of August?

[2021-08-16 14:42] wdduncan commented on #23
@ssarrafan I am working with @dwinston on this. I think we will be able to finish by the end of August.

[2021-08-17 20:28] dwinston commented on #24
This is done, housed in the [nmdc_runtime.api.endpoints.ids](https://github.com/microbiomedata/nmdc-runtime/blob/f9a6e6a4b3025048014afaa27f62efa48c00ca36/nmdc_runtime/api/endpoints/ids.py) module, and currently deployed at <https://api.dev.microbiomedata.org/docs> for feedback. Any follow-on work will be raised as new issues.

[2021-08-17 20:28] #24 closed

[2021-08-17 20:40] dwinston commented on #18
want to demo this process with recent SPRUCE project data

[2021-08-25 15:55] wdduncan opened #28 "Generate error reports for NMDC ETL staging"
Part of larger issue #23

After data is loaded into the NMDC ETL staging database, we need to validate it against the JSON schema and return/out violations. These violations can then be addressed by the hotfixes.

cc @dwinston

[2021-08-27 23:13] ssarrafan commented on #17
Checked with @scanon and he said this one was good to close.

[2021-08-27 23:13] #17 closed

[2021-08-31 18:12] ssarrafan commented on #23
Moving to Sept sprint per @dwinston

[2021-09-01 00:50] ssarrafan commented on #28
@wdduncan is it ok to move this to the backlog?  or should it be moved to September's sprint?

[2021-09-01 01:43] wdduncan commented on #28
@ssarrafan
Yes. Donny and I were working on this today, and are going to work on it some more tomorrow. We will finish this in the next sprint.

[2021-09-01 16:29] ssarrafan commented on #20
Moving to the September sprint per @corilo via Slack.

[2021-09-03 21:52] cmungall commented on #23
It looks like a lot of progress was made on the data model and serialization format for what we are calling the change sheets, in a google doc. Can than doc be linked here?

[2021-09-03 22:07] cmungall commented on #28
I think this is high priority

[2021-09-03 22:56] wdduncan commented on #23
Adding a link to Google doc spec of for the change sheet:

https://docs.google.com/document/d/1gkz0Rp5vzX5KaOG749YIMmEpTM0ziVRvYQf4ZuYO3Ng/edit

(thanks for suggesting this @cmungall !)

[2021-09-07 23:53] wdduncan commented on #23
We need to determine how to add/update properties that are inlined and more than two levels deep. For example, the proposed way to relate a study to its team members:
[code]
If we inline the study roles, the json would like this:
[code]
The problem is that it is unclear how to add/update a single study role. For example, suppose want to update Jane Doe's orcid:
|set|id|action|value|
|---|---|---|-

[2021-09-08 00:01] cmungall commented on #23
so I didn't think we were inlining the person. If we can reference person by id (e.g. orcid) then it's simpler

but the general question of how to update the primary key for something needs addressed since that PK will be referenced in multiple places

[2021-09-08 01:58] wdduncan commented on #23
@cmungall I changed the example to updating the researcher's role. Thanks for pointing that out :)
Regarding persons: Right now we are inlining person values.

[2021-09-09 23:31] ssarrafan commented on #22
Waiting for data to be ready by @scanon and processed by @dwinston

[2021-09-10 17:15] dehays commented on #23
Is this blocked on deciding how provenance is maintained?  @cmungall You mentioned in a meeting there was already a place in the schema that change information could be stored.  Could you elaborate?

This issue now blocks all post GOLD ETL metadata updates (study attributes, biosample updates, alternative identifier additions, etc) that were expected to be completed in the next couple weeks.

[2021-09-10 18:04] dwinston commented on #23
This is not blocked on how provenance is maintained. @wdduncan and I spoke earlier and have more or less agreed on a data-entry format. He is doing some testing now to ensure the format is parseable as expected so that we don’t need to revise the format.

[2021-09-27 17:57] wdduncan opened #31 "create delimited list for multiple values in change sheets"
Related to https://github.com/microbiomedata/nmdc-schema/issues/159

When entering a list of values into an array in the change sheet, use a delimiter (e.g. `|`) insert multiple values.

cc @dehays

[2021-09-27 18:09] wdduncan opened #32 "change sheet does not allow for multiple values when inserting object into array"
When inserting an object into an array, on the last value is set. E.g., If inserting a credit association in which the multiple properties are set for an object, only the last property is set.
E.g., This is **supposed** to update all the values for the person object `p1`.
|gold:Gs0114675|update|has_credit_associations|ca1
|----|---|---|---
ca1|update|applied_role|Conceptualization
ca1|update|appli

[2021-09-28 17:50] #32 closed

[2021-09-29 15:06] wdduncan opened #35 "generate omics processing data for SPRUCE"
Need to re-run etl to generate omics processing data for SPRUCE. This requires allowing for omics processing data that **does not** have an associated output.

[2021-09-29 23:44] ssarrafan commented on #23
@dwinston and @wdduncan can this issue be closed?

[2021-09-29 23:55] ssarrafan commented on #28
@dwinston and @wdduncan can this issue be closed?  I am assuming it's done but please confirm.

[2021-09-30 14:15] dwinston commented on #28
Yes, this can be closed.

[2021-09-30 14:15] #28 closed

[2021-09-30 21:14] wdduncan commented on #23
We have spreadsheets implemented. Although, we still have more work to do (e.g., add functionality for deleting data).
I think we can close this issue. @dwinston please re-open if you want it to remain open.

[2021-09-30 21:14] #23 closed

[2021-09-30 22:01] wdduncan commented on #35
@dwinston Can we close this now?

[2021-09-30 22:03] wdduncan opened #38 "add principal_investigator.websites using change sheet"
Allow `principal_investigator.websites` to be added using change sheet.
Currently fails b/c `principal_investigator.websites` is an array.

[2021-09-30 22:16] dwinston commented on #35
sure.

[2021-09-30 22:16] #35 closed

[2021-09-30 23:26] ssarrafan commented on #20
Moving this to November sprint because mapping information is not complete per PNNL meeting.

[2021-09-30 23:28] ssarrafan commented on #19
@scanon it seems like this issue can be closed now, correct?

[2021-09-30 23:29] ssarrafan commented on #22
@subdavis it seems like this issue can be closed but let me know if you'd like to have to remain open.

[2021-10-01 19:42] #38 closed

[2021-10-01 21:47] ssarrafan commented on #21
Moving to Oct even though I'm pretty sure this can be closed.  @dwinston

[2021-10-01 21:49] ssarrafan commented on #1
Moving this back to backlog. @dwinston let me know if it should be moved to October's sprint.

[2021-10-01 21:56] ssarrafan commented on #22
Moving to Oct sprint since the data is in the process of being ingested for the October release

[2021-10-01 22:08] ssarrafan commented on #19
I'm going to close this issue. @scanon let me know if it should be re-opened, moved to the October sprint or the backlog. Thank you!

[2021-10-01 22:08] #19 closed

[2021-10-12 17:59] dehays opened #40 "data_object_type is not being set on new data objects"
New data objects are not getting the data_object_type attribute set on them.  Looks like you are doing these using the regex from the filter attributes on the Mongo file_type_enum collection.

Kitware then sets the file name and description based on the data_object_type attributes they see.  When they are missing, there are no files displayed.

[code]
This is one that does work (from a different s

[2021-10-12 19:41] dwinston commented on #40
`data_object_type` is now enforced to be one of
[code]
by the json schema. This is not great because the 14 enumerated types are less than (and likely not a strict subset of) the 30 enumerated types I generate and assign in my script.

[2021-10-14 16:38] dehays opened #41 "data objects not getting set with data_object type"
recently updated data objects are missing data_object_type

[2021-10-14 18:00] dwinston commented on #41
Fixed via f4b6f4746935b8657c0381a3b7744522b6717218 and assigned values to already ingested docs

[2021-10-14 19:29] dehays opened #42 "Please remove the following omics_processing documents from Mongo"
These are metaproteomics omics_processing for which there are no corresponding metaproteomics analysis

"emsl:512156"
"emsl:512155"
"emsl:504850"
"emsl:502966"

[2021-10-14 21:39] dehays opened #43 "please remove documents from nmdc . metaproteomics_analysis_activity_set that have non prefixed IDs"
Those that can be removed have IDs that DO NOT begin with "nmdc:"

Backstory:  Anubhav provided metaP activities to go along with the new data objects he provided.  In both cases, because the IDs were different, the metadata-in DAGster job created new document (Because there were no documents with the same ID to replace.). So there are duplicates of all the metaproteomics activities that were in t

[2021-10-14 23:49] #42 closed, assigned to nobody

[2021-10-15 00:18] #43 closed, assigned to dwinston

[2021-10-15 22:01] #21 closed

[2021-10-20 18:42] wdduncan opened #44 "fix ETL to use has minimum/maximum numeric value slots"
Fix ETL to use has minimum/maximum numeric value slots,
This aligns the ETL with schema update references here:
https://github.com/microbiomedata/nmdc-schema/pull/189
https://github.com/microbiomedata/nmdc-schema/issues/80

[2021-10-22 16:45] #44 closed, assigned to wdduncan

[2021-10-22 16:57] wdduncan opened #46 "coordinate range-attribute schema changes with Kitware prior to ETL"
For attributes that hold ranges (e.g., `depth`, `depth2`), the schema has been changed (see #44) so that min/max of the range is represented like so:
[code]
Before pushing the changed docs to production we need to make sure Kitware can ingest the new docs.

Steps:
- [ ] Ingest new ETL into Mongo (i.e., run the the dagster operations)
- [ ] Add post-ETL modifications (e.g., change sheets, or notebo

[2021-10-28 14:00] dwinston opened #47 "add github users to architecture working group team"
1. invite @kfox1111 and @elais to to the <https://github.com/microbiomedata> github org
2. add them to the @microbiomedata/architecture-wg team.

@ssarrafan can you please do (1)? I can do (2).

[2021-10-28 14:06] dwinston opened #48 "migrate metadata store infrastructure"
- [x] migrate dagit (dagster UI) instance to use microbiomedata.org subdomain
- [x] migrate MongoDB host to NERSC Spin2

[2021-10-28 14:10] dwinston opened #49 "API for data portal (nmdc-server) team to pull metadata"
It will still be possible to directly query the underlying MongoDB, as the nmdc-server infrastructure is hosted within the NERSC private network, but it is expected that portal ingest will migrate to using the runtime's HTTP API.

/cc @zachmullen @subdavis

[2021-10-28 14:14] dwinston opened #50 "permissions management for API access"
- [x] Authorize @scanon and @dehays to manage API access.
- [x] Develop and document procedure for API access control and management

[2021-10-28 14:16] dwinston opened #51 "permissions management for underlying MongoDB instance"
- [x] Authorize @scanon and @dehays to manage MongoDB access.
- [x] Develop and document procedure for MongoDB access control and management

[2021-10-28 14:19] dwinston opened #52 "set up notifications re: server uptime"
- [x] status webpage (http://nmdcstatus.polyneme.xyz/)
- [x] slack channel notification (#updown on NMDC Slack)
- [x] email notification - @dehays and @scanon

[2021-10-28 14:20] dwinston opened #53 "SOP for metadata updates"
To be developed in consultation with @dehays et al.

[2021-10-28 14:22] dwinston opened #54 "test metadata ingest"
Using SOP (#53).

Options: additional Spruce, EMP500, NEON, other EMSL & JGI metadata.

/cc @microbiomedata/architecture-wg

[2021-10-28 14:24] dwinston opened #55 "document components and release process steps for metadata store/API"
ensure all @microbiomedata/architecture-wg team members are aware of and have access to this documentation.

- components
- code review process
- any manual steps
- release process

[2021-10-28 14:25] dwinston opened #56 "document handoff of metadata store responsibilities to particular team members"

[2021-10-28 15:46] dwinston opened #57 "accessibility/availability/uptime, and observability thereof"
- [x] how to ensure the server is kept up
- [x] notifications if anything goes down
- [x] how to modify permissions for accessing the API
- [x] test any access issues
- [x] identify manual steps and document

[2021-10-28 15:47] dwinston opened #58 "how to update the sensors/operations that pick up change sheets"
establish SOP and code review process

[2021-10-28 15:50] dwinston opened #59 "detailed SOP for nmdc-runtime infra management"
- [x] which notebooks/modules if any are run after data is ingested for ETL processes? -> None!
- [x] identify manual steps and document -> None! All through GH actions (https://microbiomedata.github.io/nmdc-runtime/release-process/)
- [x] establish code review process -> normal pull request review process as per e.g. nmdc-schema repo.
- [x] ensure NMDC RACI chart reflects responsibilities for all

[2021-10-28 15:52] dwinston opened #60 "coordinating automation for metaB"
/cc @corilo

[2021-10-28 15:53] dwinston opened #61 "status of / SOP for using job queuing and claiming"
- [x] test workflow automation
- [x] ensure that expectations for GSP are clear
- [x] coordinate automation for metaB (/cc @corilo)

[2021-10-28 15:54] #60 closed, assigned to nobody

[2021-10-29 18:10] ssarrafan commented on #47
<img width="1031" alt="Screen Shot 2021-10-29 at 11 09 39 AM" src="https://user-images.githubusercontent.com/79225425/139482414-9417d501-4971-49dc-860a-cc4e33aea551.png">
They've been added to the org @dwinston

[2021-10-29 18:12] ssarrafan commented on #47
<img width="482" alt="Screen Shot 2021-10-29 at 11 11 38 AM" src="https://user-images.githubusercontent.com/79225425/139482606-0f621834-0139-49e9-89e5-a864efcf1036.png">

Also added them to the architecture-wg team.  Will close this issue.

[2021-10-29 18:12] #47 closed

[2021-10-29 20:39] ssarrafan commented on #46
@wdduncan I will move this to November since we haven't been able to work with Kitware for a couple of weeks.

If this should be moved to the backlog instead let me know.

[2021-10-29 22:42] ssarrafan commented on #40
Referenced in Nov sprint planning document so assigning to November sprint.  Let me know if it should not be in the sprint.
@dehays @dwinston @emileyfadrosh

[2021-10-29 23:00] ssarrafan opened #62 "Dagster and Mongo migration"
Migrate Dagster and Mongo to run on NERSC before December

[2021-10-29 23:02] ssarrafan opened #63 "Release documentation"
Document all components and the release process steps and share before November test release and make documentation available to all team members.

[2021-11-01 21:08] cmungall opened #65 "Add github actions to check PRs"
I think this is a required part of #56

We have github actions but it seems they are just for deployment, they don't check PRs, I did an experiment here:

#64

This introduced a deliberate error yet I am still able to merge:

![image](https://user-images.githubusercontent.com/50745/139742307-c100a2ad-cbf3-4c39-a91f-f4c1bf8bda71.png)

[2021-11-01 21:10] dwinston commented on #62
Duplicate of #48, but can only assign issue to single milestone. When #48 closes, can close this.

[2021-11-01 21:14] dwinston commented on #65
@elais this could be a good one for you -- setting up a GH action to run `pytest` to check PRs.

[2021-11-02 01:37] elais commented on #65
Right now the github action has a installing dependencies, which I guess is why it was dismantled in the first place. I did add a change to make sure the test environment tries to build on each pull request (for testing) but it's not yet set up to halt a pull if the action fails.

Was there a reason the actions were disabled to begin with? Maybe because of that failing dependency?

[2021-11-02 02:04] elais commented on #65
I made a change but someone with more permissions than me needs to set up protections on the branches. It's not a long process and since this project is visible to the public I don't think it will be a problem to run this on pull requests to every branch.
![image](https://user-images.githubusercontent.com/2111879/139774732-b3306781-8156-4136-8b83-8785410dd8d4.png)

[2021-11-03 02:14] cmungall commented on #65
Reopening as things don't seem to work yet - unless main is in a fail state?

I did a test PR #69

Which is a null change, actions fail

[2021-11-03 02:20] elais commented on #65
Getting the tests running was the task. Actually passing them should be a new issue, IMO.
On Nov 2, 2021, 20:14 -0600, Chris Mungall ***@***.***>, wrote:

[2021-11-03 02:44] elais commented on #65
Just did a check and while my merge of the task fpassed it looks like every subsequent push by @dwinston has failed the tests. I'm not sure what he's up to but it looks like he's been introducing breaking changes.

I'm closing this again because the problem @cmungall sees is out of scope.

[2021-11-03 02:44] #65 closed

[2021-11-03 04:56] cmungall opened #70 "Tests fail on main"
Continued from #65

[2021-11-03 20:52] dwinston commented on #70
no longer

[2021-11-03 20:52] #70 closed

[2021-11-03 20:54] elais opened #72 "Add protections to main branch"
Now that the tests are running after the changes related to #64 #71 the next step would be to add protections to the main branch that require the tests to to pass before a pull request can be merged.

If this is already done please close this issue but it will be good that this exists to document that the administrative changes have been made.

[2021-11-03 20:57] dwinston commented on #72
@elais you should have admin privileges for this repo now, via membership in @microbiomedata/architecture-wg . Please go ahead and resolve this.

[2021-11-03 21:05] elais commented on #72
I added the status check for merging to main and also changed the settings for the branch to require pull requests to merge.

[2021-11-03 21:05] #72 closed

[2021-11-10 23:56] dwinston opened #73 "Syncing stored metadata and schema"
Need to ensure metadata migration to a new schema when that new schema is installed, so that existing metadata and submissions going forward are in sync with the same schema.

Related to
microbiomedata/nmdc-schema#199

/cc @wdduncan @hubin-keio @scanon @cmungall

[2021-11-11 16:00] dwinston commented on #48
Generated CSR via
[code]
and submitted csr to <https://certificates.lbl.gov/>. Submission details:
[code]
Waiting on InCommon Multi Domain SSL (SHA-2) for LBL NERSC Spin ingress. Can use Certificate only, PEM encoded: format=x509CO.

[2021-11-11 19:57] dwinston commented on #48
dagit instance now at dagit.dev.microbiomedata.org

[2021-11-11 19:57] #48 closed

[2021-11-11 20:00] #62 closed

[2021-11-11 21:02] dwinston commented on #63
When #55 and #59 are closed, this can be closed.

[2021-11-11 21:04] dwinston commented on #20
@kfox1111 is this what you are working on?

[2021-11-11 23:36] kfox1111 commented on #20
Sounds about right to me? maybe @corilo can verify.

[2021-11-11 23:49] corilo commented on #20
Hi, 

I think there are multiple tasks associated with this issue:   1) automation of NOM and metaB workflow at EMSL 2) ingestion of new NOM and metaB data from the SPRUCE project 3) dependence of sample to dataset mapping which @mslarae13  is working on (she might have another ticket for the mapping work)     
 

[2021-11-15 16:11] #49 closed, assigned to dwinston

[2021-11-15 17:36] dwinston commented on #40
@ssarrafan this is now part of the automated workflow (setting the type if it is not already set).

[2021-11-15 20:33] dwinston commented on #50
https://microbiomedata.github.io/nmdc-runtime/admin/#create-api-users

[2021-11-15 20:33] #50 closed

[2021-11-15 20:33] dwinston commented on #51
https://microbiomedata.github.io/nmdc-runtime/admin/#mongodb-administration

[2021-11-15 20:33] #51 closed

[2021-11-16 00:18] #52 closed

[2021-11-17 18:14] dwinston commented on #53
https://microbiomedata.github.io/nmdc-runtime/tutorial-metadata-in/

[2021-11-17 18:14] #53 closed

[2021-11-18 17:03] dwinston commented on #55
https://microbiomedata.github.io/nmdc-runtime/release-process/

[2021-11-18 17:03] #55 closed

[2021-11-18 19:55] ssarrafan commented on #46
Moving this to the December sprint since Kitware isn't currently available and @wdduncan said he is blocked waiting to be able to work with them.

[2021-11-18 21:07] #59 closed

[2021-11-18 21:08] #63 closed

[2021-11-18 21:11] dwinston commented on #54
tested and demonstrated activity metadata ingest during the meeting today, including a demo of debugging and re-release after a bug fix. 🙂

[2021-11-18 21:11] #54 closed

[2021-11-18 22:14] #56 closed

[2021-11-24 17:59] dwinston commented on #57
updated https://microbiomedata.github.io/nmdc-runtime/admin/

[2021-11-24 17:59] #57 closed

[2021-11-30 20:30] ssarrafan opened #75 "Process Spruce NOM and GC-MS data"
This is the next step from[ issue 20](https://github.com/microbiomedata/nmdc-runtime/issues/20)
To process NOM and GC-MS data from the Spruce study

- [X] Processed NOM FT-ICR MS data

Data ingestion into MongoDB from EMSL using NMDC-runtime API:

- [x] Step 1:

Create Biosample objects and biosample set
- BioSample Metadata (emsl:UUID)
- Parse data from
[Spruce Sample and Dataset Excel File](http

[2021-11-30 20:31] ssarrafan commented on #75
@corilo please let me know if this should be in a different repo or assigned to someone else

[2021-11-30 20:32] ssarrafan commented on #20
Closing this issue per @corilo via Slack.

Will create a new issue for December sprint for the s[pruce data processing for NOM and GC-MS](https://github.com/microbiomedata/nmdc-runtime/issues/75)

[2021-11-30 20:32] #20 closed

[2021-12-03 22:00] dehays opened #76 "update existing data_object documents so data_object_type uses range from file_type_enum in schema"
Currently data_objects have a data_object_type value set to IDs of documents within another Mongo collection called file_type_enum.  They look like this:

`data_object_type:"nmdc:sys0rg7070"`

But these values should be from the file_type_enum in the schema [schema/nmdc.yaml#L446](https://github.com/microbiomedata/nmdc-schema/blob/main/src/schema/nmdc.yaml#L446)

I believe (but this should be conf

[2021-12-10 20:04] corilo commented on #75
@dehays @mslarae13

NOM data has been processed for the Spruce Project. The data product and metadata registration files are available here:

1) https://nmdcdemo.emsl.pnl.gov/nom/registration/spruce_ftms_nom_metadata_products.json

2) https://nmdcdemo.emsl.pnl.gov/nom/registration/spruce_ftms_nom_data_products.json

From the original 58 files, 8 did not passed the QC check and are not included. On

[2021-12-14 18:56] ssarrafan commented on #75
@corilo are you expecting to complete processing the GCMS data this week?  Or do you think this needs to be moved to January?  Thanks.

[2021-12-14 19:01] ssarrafan commented on #46
@wdduncan would you like to discuss this at this Thursday's infrastructure sync with the Kitware team?  I'm going to remove Donny from this issue since he's out.

[2021-12-14 19:01] corilo commented on #75
Hi Please move it to January, the task is dependable on getting the sample mapping to dataset Id from the metadata team.

[2021-12-22 22:47] #31 closed

[2021-12-23 16:50] wdduncan opened #79 "add unit tests for new notebook"
Add unit tests for new notebook operations (e.g., remove item, add item).

[2021-12-23 19:37] wdduncan opened #80 "add omics processings for pmi, mp, and bioscales"
PMI is study Gs0103573
MP is study Gs0128850
BioScales is study Gs0154044

For project ids listed in:
https://portal.nersc.gov/project/m3408/meta/pmi_gp_input_mapping.tsv
https://portal.nersc.gov/project/m3408/meta/persist_gp_input_mapping.tsv

Create json output to add to the `omics processing set` in which the `has output` has the value given in the file.

Once the json is created we add to mong

[2022-01-07 01:26] scanon opened #81 "Uploading too many metadata-in can swamp the server"
I tried ingesting a lot of annotation/feature records from dozens of metaG's at the same time and it crashed the server.  So we need to see if there is some way to rate limit things in dagster or some alternate method.  I suspect the issue was with memory and doing all the schema validation at the same time.

[2022-01-10 20:51] wdduncan commented on #80
@scanon Did you add the omics processings' outputs?

[2022-01-10 21:16] wdduncan commented on #80
@scanon has done this, but the work should be reviewed.

[2022-01-11 00:07] corilo commented on #75
Hey @David , @wdduncan.   Since we never done the ingestion using the API ourselves, can any of you show us how? We followed the tutorial, but them we are having issues validating that the data has been created, and we are now both (Yuri and @kfox1111) having issues with the credentials to push data to dev. Help please? This is the last task to close this issue!

[2022-01-11 21:33] dehays commented on #75
@corilo @kfox1111   I'm assuming you are already familiar with the docs Donny created for this from your work on automation: [https://microbiomedata.github.io/nmdc-runtime/tutorial-metadata-in/](https://microbiomedata.github.io/nmdc-runtime/tutorial-metadata-in/)

It is unclear to me whether you have the necessary site client credentials setup.  It sounds like you are trying to use individual API

[2022-01-11 21:40] kfox1111 commented on #75
I've got a service account for uploading data, and that is working, and a personal account and the password I have for that no longer works. I was trying to use the personal account to verify the data made it in. The service account doesn't seem to have enough permissions to do so.

[2022-01-12 22:24] #80 closed

[2022-01-18 19:09] dehays opened #83 "change validation used by perform_mongo_updates wrt file type enum"
The issue is these lines that set an enum to the list of IDs from the file_type_enum Mongo document collection.

`  nmdc_jsonschema = get_nmdc_jsonschema_dict()
    nmdc_jsonschema["$defs"]["FileTypeEnum"]["enum"] = mongo.db.file_type_enum.distinct(
        "id"
    )`

  Will comment out for now in order for validation to accept the values specified in the schema's file type enum

[2022-01-18 19:31] #83 closed

[2022-01-21 23:57] dehays commented on #76
Between Brandon's change to Postgres ingest inn nmdc-server, Yuri and Shane providing actual values for data_object_type and going back and fixing values for data_object_type on older docs -- this is finished

[2022-01-21 23:57] #76 closed

[2022-01-23 20:33] dehays opened #87 "Adding multiple credit associations to a study via change sheet no longer works."
Bill  you added the applied_roles attribute that takes a list of values (that must match the credit enum in nmdc.yaml).

I have applied the changesheets from [January Change Sheets](https://drive.google.com/drive/folders/1_n6ZjK3z2jb535V1n5jTf9Myuh0jvk79)

First, removing the existing has_credit_associations attribute from each of 7 studies.  Then applying 7 change sheets to add credit association

[2022-01-23 21:12] dehays opened #88 "Change sheets to modify EMSL ID biosamples cannot determine document set"
This comes up with the change sheet to add 5 GOLD environment attributes to 17 SPRUCE samples that were used at EMSL but never at JGI (and therefore have no corresponding GOLD biosample record).

Aside - these biosamples are also missing part_of attributes.  So the change sheet was adding those.  Was surprised that part_of is not required on biosample.  Seems samples should always be associated wi

[2022-01-24 19:02] dwinston commented on #7
Addressed this NERSC Spin deficiency with `GET /nmdcschema/{collection_name}` route-set, and with a documented `nersc-ssh-tunnel` Makefile target.

[2022-01-24 19:02] #7 closed

[2022-01-24 19:03] dwinston commented on #75
@kfox1111 are you still blocked on this?

[2022-01-24 19:04] dwinston commented on #79
@wdduncan status? Is there a WIP PR to connect this to?

[2022-01-24 19:06] wdduncan commented on #79
@dwinston I have not had time to start a PR for this.

[2022-01-24 19:06] dwinston commented on #81
@scanon this may be correlated with continued use of the Spin development cluster rather than the production cluster.

Can you elaborate on your procedure that resulted in a crash? One possible procedure: you POSTed to /objects N times, and then you PUTted to /objects/{object_id}/types N times. Is this correct?

[2022-01-24 19:07] dwinston commented on #81
We should migrate to the production cluster either way, for higher memory capacity.

[2022-01-24 19:07] kfox1111 commented on #75
We were able to upload some data and manually verify it was uploaded. My personal account is still locked out (I think @corilo can help me fix that now). I still need to figure out a programmatic way to know if the upload fully succeeded or not.

[2022-01-24 19:08] dwinston commented on #79
Okay. No problem. I just wanted to know the latest status. Thank you.

[2022-01-24 19:14] dwinston commented on #75
@kfox1111 will the [`/nmdcschema/{collection_name}`](https://api.dev.microbiomedata.org/docs#/metadata/list_from_collection_nmdcschema__collection_name__get) or `/nmdcschema/{collection_name}/{doc_id}` API routes help you programmatically verify the upload? This would be after the upload is successfully validated. The `/objects/` route family should help you confirm that the uploaded bytes are acc

[2022-01-24 19:24] wdduncan commented on #88
@dehays looking at the biosample record:
![image](https://user-images.githubusercontent.com/3186638/150850094-40b8a057-5b64-4cc4-a3bb-07bca1189048.png)

Can you add a `type` value to the biosample? I.e.:
[code]

[2022-01-24 19:36] kfox1111 commented on #75
Trying to use the /objects api right now. Filtering isn't working how I would expect:
{"size": {"%gt": 0}}  should give me something?

I'll have a look at the /nmdcschedma api. Thanks.

[2022-01-24 20:12] kfox1111 commented on #75
I was able to get some data via /nmdcschema/{collection_name}
collection_name: omics_processing_set
filter: {"id": "emsl:570991"}

So I can now see if the data makes it all the way in. I need to identify some terminal states to know when it will never make it in.

Also, is the metadata in process atomic? Will it ever partially ingest data or is it all or nothing?

[2022-01-24 21:05] kfox1111 commented on #75
Ok. I think I got it figured out:
[code]

[2022-01-24 21:15] dwinston commented on #75
@kfox1111 it is atomic at the collection level. So, for example, if you were submitting new biosample docs and new study docs as part of the same metadata-in job, it is possible that e.g. the biosample docs would get in and not the study docs. Note, however, that both collections would need to pass validation first. There is currently no retry logic for this scenario, but it does get logged.

[2022-01-24 21:26] dehays commented on #88
I added type to the 17 biosample records and re ran the change sheet to add the part_of and GOLD env terms.  I see that Mongo was updated as I expected.  Closing.

Bill will make type a required attribute.  Change sheet processing relies on type to determine the Mongo collection by ID.

[2022-01-24 21:26] #88 closed

[2022-01-24 21:43] dehays commented on #87
Per conversation with Bill.  Changed operator from 'update' to 'insert items' for has_credit_associations.  But problem behavior remains.

Example changesheet here: [Brodie credit roles](https://docs.google.com/spreadsheets/d/1uitChu27bWMU5oOKx16cr0WEX9G02V64Pt-s36frdnU)

[2022-01-24 21:44] wdduncan opened #89 "make type slot required"
In order for change sheets to work correctly, the entity being updated needs to have value in its `type` slot. So, we need to require the `type` slot.

@dehays Do you think`type` needs to be required for **all class** in the schema? I think "yes", but we may want to discuss more.

For reference, this issue came about as a result of #88

cc @cmungall @turbomam @sujaypatil96

[2022-01-24 21:45] Lebedeva-Sonya commented on #75
Hi!

I’m still listed on this task :)

Yours sincerely
Sofya Lebedeva

[2022-01-24 22:29] wdduncan commented on #87
This has been fixed.

[2022-01-24 22:29] #87 closed

[2022-01-26 02:11] corilo commented on #75
@ssarrafan, @dehays  All Spruce NOM data have been successfully added to dev, and I'm assuming that no modification to the code or data is needed to move to data production. The GC-MS data were not included because the samples were pore water, as discussed with @mslarae13

[2022-01-26 02:11] #75 closed

[2022-02-01 19:17] dwinston opened #94 "domain-specific metadata read"
No generic /nmdcschema/{collection_name} endpoint. /biosamples , /studies, /data_objects, etc.

[2022-02-01 19:18] dwinston opened #95 "users/sites -> agents"
It has been confusing to have two disjoint types of authenticated entities, i.e. users and site clients, and to know which one needs to be selected for a given protected endpoint. All being agents, with user-id and password supplied via HTTP Basic Auth, will hopefully simplify the situation.

Refactor “users” and “site clients” stuff to just “agents”. An agent may be a prov:Person. An agent may al

[2022-02-01 19:18] dwinston opened #96 "job runs and metadata write"
GET /jobs
POST /jobs/{job_id}/runs
GET /runs
GET /runs/{run_id}
PATCH /runs/{run_id}

No job “claiming”. See a job you want to execute? POST a new done:false execution so that your intent is registered.

Rename job executions as “runs” to better align with dagster and openlineage vocab.

Evergreen job for custom metadata submission (via e.g. change sheets or json) that has no stated inputs. POST a

[2022-02-01 19:18] dwinston opened #97 "job branch reads"
all metadata submission as part of a job run is staged in a separate collection-namespace, a “branch” off main, that includes the diff only (for deleted documents, include a special flag in the document so the processor knows it’s been deleted). reads against the branch need to query two collection-sets and merge results.

[2022-02-01 19:19] dwinston opened #98 "job branch upserts"
job-branch db upserts need to copy matching doc if it exists from main to branch collection, and then apply update.

[2022-02-01 19:19] dwinston opened #99 "job branch deletes"
job-branch db deletes need to copy matching doc from main to branch collection and then mark with tombstone flag so that job_branch reads will match filters but return nothing.

[2022-02-01 19:19] dwinston opened #100 "metadata revision tracking and DRS objects"
No drs object api apart from the two read-only endpoints of the drs api spec. drs objects get created under the hood (so stored separately from data_object_set) to e.g. save the details of metadata submission (e.g. gzipped mongo command json and change sheet input csv).

[2022-02-01 19:19] dwinston opened #101 "id binding for sensors"
No object_types collection. Submit data_object_set objects to /data_objects endpoint. Then annotate data_object ids with special bindings (key-value pairs) via PATCH /ids/{id} that, on binding, get analyzed by binding request analyzers (formerly triggers) and create new jobs as appropriate, returning the job ids in the bindings-request response.

[2022-02-01 19:20] dwinston opened #102 "job branch merge"
On attempt to mark a job run done, that is essentially a PR to merge the branch into main, during which e.g. referential integrity checks can be performed as well as JSON schema validation.

[2022-02-01 19:22] dwinston commented on #95
![runtime-api-agents](https://user-images.githubusercontent.com/1497854/152036542-166b2245-a23f-485b-a39f-53d755280c00.png)

[2022-02-01 19:23] dwinston commented on #96
![runtime-api-job-runs](https://user-images.githubusercontent.com/1497854/152036776-b74bc254-3eff-4599-8355-26c0379adc66.png)

[2022-02-02 17:37] dwinston commented on #97
![runtime-api-branch-read](https://user-images.githubusercontent.com/1497854/152207113-857910a5-701a-48c8-b996-f4dacc6e85b3.png)

[2022-02-02 17:44] kfox1111 commented on #95
no jwt tokens ever or just not for initial authentication to get a jwt? There's a big advantage IMO to having one spot for auth rather then at every endpoint.

[2022-02-02 17:46] kfox1111 commented on #95
Might want to consider something like Keycloak as well. we use it regularly and has a bunch of features that may simplify this. Feels like this may be reinventing some wheels.

[2022-02-02 17:56] dwinston commented on #95
@kfox1111 I'm not sure how you're distinguishing jwt tokens from http basic auth here.

With jwt tokens, every request to every endpoint that needs authorization needs a header like
[code]

With http basic auth, every request to every endpoint that needs authorization needs a header like
[code]

so in practice, the only difference is that jwt tokens are intended to be short-lived, whereas basic au

[2022-02-02 18:22] kfox1111 commented on #95
Not quite. With Basic, each service would have to handle validating the password, as well as some authz stuff, especially the features around delegation of permissions to a service acting on the users behalf. oauth2/oidc centralizes that stuff into a hardened security related server that deals with all that and you can then have all your api just validate the token is from the trusted server along

[2022-02-02 18:32] dwinston commented on #95
Oh sure, I guess by "in practice" I meant "in _our_ practice", i.e. for the NMDC pilot we just have one central service that can include auth(z) as part of its service offering. delegation of perms in our case looks like a person creating a software agent (with its own userid/pass) to act on the person's behalf. I do understand the value of jwts in a more distributed service scenario.

[2022-02-02 18:46] dwinston commented on #99
![runtime-api-branch-delete](https://user-images.githubusercontent.com/1497854/152217856-5f6a93f8-85dd-4373-b8ec-e18ccde01b2d.png)

[2022-02-02 19:17] dwinston commented on #102
![runtime-api-branch-merge](https://user-images.githubusercontent.com/1497854/152221790-4af0d2ae-e51a-4d5f-b7ca-53e2d1d55b5e.png)

[2022-02-02 19:38] dwinston commented on #100
no diagram needed. overlap with #102

[2022-02-02 20:58] kfox1111 commented on #95
If all you have now, or plan to have soon, is a monolithic code base where you can just front it all with the same decorator for doing auth, then yes, that would probably be easiest.

It also requires clients to either be trusted or the user to go through the process of creating the service credentials and passing those along.
---

oauth2/oidc is a bit more then just jwt. Its also a process for a

[2022-02-02 22:16] dwinston commented on #95
I agree with all that.

This is exactly our situation. The current codebase serves as an oauth2 provider of jwts for its own services. Rather than using the oauth2/jwt standard (https://fastapi.tiangolo.com/tutorial/security/oauth2-jwt/) and having users worry about two-step requests (get a token, provide the token) and token expiration, I think it'd be simpler to switch to the http basic auth sta

[2022-02-02 22:35] kfox1111 commented on #95
I guess part of the question is, are you going to be tracking who uploads what? I'd really rather not all the data coming from pnnl to be owned by me.

[2022-02-02 22:37] kfox1111 commented on #95
wow. yeah. that python lib makes you keep track of a lot of stuff yourself. Something like Keycloak takes care of a lot of it, itself.

[2022-02-04 03:06] dwinston commented on #95
The provenance would be recorded, e.g. which agent posted the data, but this would not be equated with ownership. Just like a user now may e.g. manage the pnnl site, an agent could act on behalf of the pnnl org.

[2022-02-04 16:49] #61 closed

[2022-02-04 20:00] #58 closed

[2022-02-04 20:49] dwinston commented on #73
The code to help ensure this is committed as failing PR because the current metadata does not conform to the schema, but in minor and non-impactful ways at present, e.g. metabolomics_analysis_activity_set docs have "alternate_identifiers" set, which is unrecognized by the schema, and genome_feature_set docs have null-valued "type" values, which need to be strings by the schema.

So, closing this i

[2022-02-04 20:49] #73 closed

[2022-02-08 20:29] wdduncan opened #105 "Update nmdc-schema to 2.0.0"
@dwinston I updated the `nmdc-schema` to 2.0.0.
Do you want to update or do you want me to do it?

[2022-02-08 21:54] dwinston commented on #105
@wdduncan you go ahead. Issue the specialized Makefile target on a branch and start a PR to ensure the tests pass, and then merge if they do.

[2022-02-28 19:06] wdduncan commented on #89
Update:
In the latest changes, the type slot in the schema has been deprecated. So, the type slot should not be required.
In fact, I have some code in change sheets where I'll need to un-require the type.

[2022-02-28 19:22] ssarrafan commented on #89
Moving this to March per @wdduncan as he plans to close before the end of the week

Note from Bill:
HI Set. Here is an update:
https://github.com/microbiomedata/nmdc-schema/issues/134
This is an ongoing issue that will need to be passed on to Mark or Sujay (not sure which).
https://github.com/microbiomedata/nmdc-runtime/issues/89
I updated the comment on this. I should be able to get the change sh

[2022-02-28 19:24] ssarrafan commented on #46
Re-assigning this to @sujaypatil96 but please let me know if this is not a priority for March and we can move it the backlog.

FYI: @cmungall @turbomam

Note from Bill:
HI Set. Here is an update:
https://github.com/microbiomedata/nmdc-schema/issues/134
This is an ongoing issue that will need to be passed on to Mark or Sujay (not sure which).
https://github.com/microbiomedata/nmdc-runtime/issues/89

[2022-03-02 18:12] wdduncan commented on #79
@dwinston I'm re-assigning this to @sujaypatil96. He may want to assign someone else.

[2022-03-17 22:00] ssarrafan commented on #89
@turbomam @dehays @cmungall this was an old issue still assigned to Bill.  I re-assigned it to @turbomam.  Should this issue be closed or moved to a future sprint?

[2022-03-31 11:08] wdduncan commented on #105
@dwinston since I'm not longer involved with NMDC can you show @turbomam and @sujaypatil96 how to do this?

[2022-03-31 13:47] dwinston commented on #105
@wdduncan sure thing, professor! 😉

[2022-03-31 16:35] ssarrafan commented on #89
Thanks @wdduncan for the update from Florida!
@turbomam wants to continue this to April so I'll move it to the April sprint

[2022-04-01 19:16] ssarrafan commented on #46
Moving out of the sprint, adding backlog label per @sujaypatil96

[2022-04-08 13:22] dwinston opened #108 "domain-specific resource endpoints, e.g. `/studies`, to get single entities and lists of entities."

[2022-04-08 13:23] dwinston opened #109 "index-backed support of select entity attributes for filtering"

[2022-04-08 13:24] dwinston opened #110 "user-facing documentation of search API, with various examples"
* [x] entities
* [x] entity attributes
* [ ] filter attributes
* [x] query parameter (e.g. `filter`) syntax
* [ ] full clickable examples

[2022-04-08 13:25] dwinston opened #111 "SOP/documentation for adding and revising both endpoints and index-backed filter attributes"
standard operating procedure (SOP) for search API maintainers/contributors.

[2022-04-08 13:57] dwinston opened #112 "Enable "one-shot" POST request for submission of NMDC-schema-compliant metadata JSON"

[2022-04-08 13:57] dwinston opened #113 "Enable "one-shot" POST request for the runtime to perform a particular computational job given input config"
example: ETL of NMDC-schema-compliant metadata from GFF files.

[2022-04-08 13:57] dwinston opened #114 "Enable runtime job monitoring at high level of abstraction via HTTP GET -- no need to know Dagster"

[2022-04-08 18:51] dwinston commented on #108
I started a basic NMDC search API implementation using [OpenAlex API](https://docs.openalex.org/api) filter string conventions.
I put up a landing page to quickly try out various search filters: https://api.dev.microbiomedata.org/search

relevant section of the swagger docs: https://api.dev.microbiomedata.org/docs#/find

example query: [/biosamples?filter=depth.has_numeric_value:>100,depth.has_uni

[2022-04-14 17:08] dwinston commented on #108
finished as of 08c9ed3 .

Endpoints have `filter` and `sort` and pagination functionality.

group_by and search (apart from per-attribute search) functionality has been stubbed out and can be filled in later as/if desired.

[2022-04-14 17:08] #108 closed

[2022-04-14 18:04] #109 closed

[2022-04-14 20:35] dwinston commented on #110
no filter attributes yet apart from entity attributes. will be clearer with particular use cases.
preference to copy-paste examples to nudge use of example input text field.

deployed [1eb88df](https://github.com/microbiomedata/nmdc-runtime/commit/1eb88dfceed1132081b347cddb28601c1c7f7fd3)

[2022-04-14 20:35] #110 closed

[2022-04-14 20:36] dwinston commented on #111
TODO: add a page to the docs (https://microbiomedata.github.io/nmdc-runtime/)

[2022-04-15 01:58] dwinston commented on #112
@corilo you expressed interest in an improved Data Management API, separate from the Search API.

Please review the issues #112 (this issue), #113, and #114, which I've included as part of an [Improved Data Management API milestone](https://github.com/microbiomedata/nmdc-runtime/milestone/16). Are there other issues you would like me to address?

[2022-04-15 01:59] dwinston commented on #112
/cc @scanon @elais @shreddd

[2022-04-18 21:18] dwinston commented on #89
Taking a quick look at this, it seems that `collection_name` is guaranteed to be set at the point of the changesheet processing code that seeks to set `class_name, and these two values are one-to-one and connected in the json schema, e.g. the 'biosample_set' collection is known to be a list of objects of type 'Biosample'. So, I think `type` can be deduced unambiguously.

[2022-04-19 11:17] wdduncan commented on #89
The type slot is now deprecated:
https://microbiomedata.github.io/nmdc-schema/attribute_value_type/#slot-type-deprecated

So, I think the goal was to remove any need for it in the code base.

[2022-04-20 18:34] elais commented on #112
The interface I have been working with to implement this borrows heavily from the interface used in Cromwell and other workflow managers . We initialize a task by (minimally) sending a list of inputs, outputs, and executors. The json input should look something like this.

[code]
Inputs must be a path to a file (whether that's a file system or url, it doesn't matter at this stage) and outputs a co

[2022-04-26 17:40] dwinston opened #116 "changesheet ingest logic requires nmdc-schema src yaml directory"
`fetch_schema_path_properties` fails unless the schema-definition source file (`nmdc.yaml`) has access to all of the other yaml files it imports. I have accounted for this via https://github.com/microbiomedata/nmdc-runtime/commit/540ae9a14538c204442a00d4682fa30971a35a8c .

@wdduncan it would be better for the nmdc-schema pypi package to include the other yaml files, or to refactor the code here to

[2022-04-26 17:50] wdduncan commented on #116
IMHO, it seems easier to include all the `yaml` files. However, I thought they were included. See the [pyproject.toml](https://github.com/microbiomedata/nmdc-schema/blob/cc5a94afd26813647eb84d7f0ce0ffc58942a0ba/pyproject.toml#L34).
[code]
@sujaypatil96 and @turbomam handle the build process now. Maybe they can weigh in?

[2022-04-26 21:06] dwinston commented on #112
@dehays this is ready to test via https://api.dev.microbiomedata.org/docs#/metadata/submit_json_metadata_json_submit_post

The `run_id` returned is currently just a dagster run id, i.e. it corresponds to
`https://dagit-readonly.nmdc-runtime-dev.polyneme.xyz/instance/runs/{run_id}`

[2022-04-26 21:06] dwinston commented on #112
The endpoint creates a DrsObject under the hood, etc.

[2022-05-05 13:45] dwinston commented on #113
example: metadata-in job run request given URL for JSON (create new DrsObject if URL target checksum does not match existing DrsObject)

example: update incremental-backups resource for downstream consumer (use case: incremental data portal sql db building)

[2022-06-01 18:05] ssarrafan opened #117 "Add a csv conversion endpoint to the nmdc-runtime"
Details to be added by Elais

[2022-06-01 18:05] ssarrafan opened #118 "Add a gff to metadata conversion script to the nmdc-runtime"
Details to be added by Elais

[2022-06-08 17:21] #112 closed

[2022-06-08 17:21] #113 closed

[2022-06-08 17:21] #114 closed

[2022-06-15 18:03] sujaypatil96 opened #119 "Add endpoint that accepts list of biosample ids and updates"
I believe there isn't an endpoint at https://api.dev.microbiomedata.org/docs#/ that accepts a list of NMDC biosample Ids, and updates each of those ids with data from a new JSON file, with possibly new fields.

Like say, we want to update `gold:Gb0315661` in the Mongo database. We should be able to provide a JSON, which may or may not have new fields for the `gold:Gb0315661` record to that endpoin

[2022-06-15 22:59] ssarrafan commented on #118
@elais Today is mid-sprint so I’m checking in to see how you’re doing with your assigned GitHub issues.  Please update this issue and let me know if you’re still actively working on it and it’s on track for finishing by the end of June. If you’re not working on it due to other priorities let me know if you plan to work on it in July or if it should be moved to the backlog for reprioritization.

[2022-06-15 22:59] ssarrafan commented on #117
@elais Today is mid-sprint so I’m checking in to see how you’re doing with your assigned GitHub issues.  Please update this issue and let me know if you’re still actively working on it and it’s on track for finishing by the end of June. If you’re not working on it due to other priorities let me know if you plan to work on it in July or if it should be moved to the backlog for reprioritization.

[2022-06-20 17:52] sujaypatil96 opened #120 "Changesheets documentation"
Add documentation on how we can use changesheets protocol and the nmdc-runtime API to make updates to data in the mongo database.

Resources:
* [changesheets example](https://github.com/microbiomedata/nmdc-runtime/blob/main/metadata-translation/notebooks/data/changesheet-replace.tsv)
* https://api.dev.microbiomedata.org/docs#/

[2022-06-30 21:48] ssarrafan opened #122 "Refactoring Jubilee"
Strategic refactoring tasks will be added here.

[2022-07-01 18:40] ssarrafan commented on #118
Moving to July per @elais

[2022-07-01 18:41] ssarrafan commented on #117
Moving to July per @elais

[2022-07-05 19:38] elais commented on #122
**TL;DR** Let's shoot for 80%

I think the function is a complex way of laying out a few practical rules for dealing with coverage and testing more broadly. What I would propose, unfortunately in English, is the following:

* 80% code coverage as a goal for all *new* code added, while adding unit tests to legacy (code made before tests, not obsolete or useless code) functions as the need arises du

[2022-07-05 21:11] dwinston commented on #122
Also, I propose an [application/framework/library split](https://medium.com/iquii/applications-vs-frameworks-vs-libraries-c1f1a6122711), i.e. a disaggregation of repo code into three pip-publishable packages:

`nmdc_runtime/app/`: The application. Defines interactions with the environment and effects on the data model. Plugs itself into the framework. Plugs library elements into each other.  If pu

[2022-07-05 21:24] dwinston commented on #122
I do like the idea of setting a minimum bar (and I like 80%) on test coverage across all new "public" importable units. I don't want new stuff added with poor coverage but the overall number goes up because of significant improvements to legacy code.

[2022-07-05 21:30] dwinston commented on #122
I agree about abstracting data access layers. This will push code down the stack from `app` to `frame` and from `frame` to `lib` -- it will increase the fraction of code that is state-free / that we inject state/config into at the `app` level.

[2022-07-05 21:59] elais commented on #122
I forgot to agree with this in my last post. Testing "public" importable units is usually good enough, because the private unit invocation inside of the public unit function call will mark that private unit as covered by the coverage tool. At least it should, I've yet to encounter a coverage tool that acted differently.

I'm fine with this but in a former life I saw these folders usually named app

[2022-07-07 19:09] elais commented on #122
Another thing to be wary of is changing the folder structure will break the `nmdc_runtime` namespace. Does PyCharm have a way of refactoring all files within the project to reflect new folder structures with minimal effort? I can do it with some shell magic but if there's something dedicated in your IDE I'd say go ahead and create the structure sooner rather than later.

[2022-07-08 12:20] dwinston commented on #122
Anything stateful that is not specific to the deployed (including env concerns, e.g. for dev/staging/prod) NMDC Runtime application `app` should go in the framework package `nmdc_runtime.frame`. This is so that NMDC Sites other than the Runtime site can reuse patterns for (meta)data workflow orchestration.

Example: for the following (from your proposal above),

the first two should go in `frame`,

[2022-07-08 12:22] dwinston commented on #122
Yes, PyCharm has "Refactor > Move File" functionality that speaks Python and so can update imports across the repo when moving a module. I can take care of this.

[2022-07-08 14:47] elais commented on #122
Ok this makes a lot of sense I’m 100% behind it.
On Jul 8, 2022, 06:20 -0600, Donny Winston ***@***.***>, wrote:

[2022-07-11 17:20] elais opened #124 "Update test suite to measure and report code coverage"
Related to #122, adding coverage.py to the dependencies and getting started on the new folder structure for app/

My sincere suggestion at this point will be to not port things over to the app/ folder wholesale unless its going to be refactored and given tests.

[2022-07-11 18:05] dwinston commented on #124
Agreed

[2022-07-14 16:05] mslarae13 opened #128 "Remove Eric Liskov's SPRUCE samples"
Eric Liskov's SPRUCE samples are the PEATcosm ones. See the orange highlighted samples in the attached file.

- <s> [ ] Sujay to add "delete" option to change sheets commands </s>
- [x] Sujay to make Mongo queries to delete the designated samples.
[DataPortal_SPRUCE.xlsx](https://github.com/microbiomedata/nmdc-server/files/9113435/DataPortal_SPRUCE.xlsx)

[2022-07-20 16:42] dwinston opened #126 "demo elasticsearch indexing"
- cluster setup and client connection
- preparation of synthetic fields for index
- custom field analyzer
- custom field mapping
- demo of search and suggest APIs

[2022-07-20 16:43] dwinston commented on #126
Done as https://github.com/microbiomedata/nmdc-runtime/tree/5d618cd275033b1cacd8bcccfabce17fbec50843/demo/metadata_discovery and with video on NMDC drive.

[2022-07-20 16:43] #126 closed

[2022-07-28 16:30] ssarrafan commented on #122
Good morning @elais.  Tomorrow is the last day of this sprint.  Will this issue be rolling into next month?  Would you like to break this issue up into smaller issues?  Thanks for your help.

[2022-07-28 16:31] ssarrafan commented on #118
@elais any updates on this issue?  Can it be closed by tomorrow?

[2022-07-28 16:31] ssarrafan commented on #117
@elais any updates on this issue?  Can it be closed by tomorrow?

[2022-07-28 16:45] elais commented on #122
We will be able to close this tomorrow. I won't start the merge until next week (I'm not feeling well) but the branch will have all the code pushed.
On Jul 28, 2022, 10:30 -0600, ssarrafan ***@***.***>, wrote:

[2022-07-28 16:48] elais commented on #118
Yes we can close this issue.
On Jul 28, 2022, 10:31 -0600, ssarrafan ***@***.***>, wrote:

[2022-07-28 17:09] elais commented on #117
Roll this over to next month
On Jul 28, 2022, 10:31 -0600, ssarrafan ***@***.***>, wrote:

[2022-07-28 23:04] ssarrafan commented on #118
Great! If there's any documentation or other notes we can link to this issue let me know.  Closing this.

[2022-07-28 23:04] #118 closed

[2022-07-28 23:06] ssarrafan commented on #122
Great news!  If you don't get around to closing it tomorrow I'll move it to August so you can do the merge next week. Thanks.

[2022-08-03 16:56] turbomam opened #127 "Add supplement to author-changesheets.md based on Google Sheet (see body)"
from [Changesheets: submit via command line with temp authorization](https://docs.google.com/document/d/1cj0osj4JN-VnAlUMVJ-6kycVzxAwnMo7HaADUCaeUcQ/edit#)

to https://github.com/microbiomedata/nmdc-runtime/blob/main/docs/howto-guides/author-changesheets.md

[2022-08-04 18:33] sujaypatil96 commented on #128
@mslarae13: I've gone ahead and deleted the PEATcosm samples associated with the SPRUCE dataset from the above spreadsheet. I've verified if the record still exists in Mongo via the API after deleting it, also via the API, and it does not, so we should be good.

[2022-08-04 18:35] sujaypatil96 commented on #128
Thank you to @dwinston for all the changes that enabled this.

[2022-08-08 19:43] #122 closed

[2022-08-08 19:43] elais commented on #122
Merged refactor.

[2022-08-16 20:32] dwinston opened #130 "ipython notebook walkthrough of use cases for file-download and in-memory-object-load"
https://nbviewer.org/github/microbiomedata/nmdc-runtime/blob/ceb5e6f340b2bd6cabc7cac9f3d629c48029389b/docs/nb/get_data.ipynb

This  documents and helps clarify the existing mechanisms that have been deployed. A suitable `pip install`able client must await the new API foundations to be developed post-pilot (from October).

[2022-08-16 20:32] #130 closed

[2022-08-16 20:37] dwinston opened #131 "ipython notebook walkthrough of use cases for queueing and triggering data jobs"
https://nbviewer.org/github/microbiomedata/nmdc-runtime/blob/ceb5e6f340b2bd6cabc7cac9f3d629c48029389b/docs/nb/queue_and_trigger_data_jobs.ipynb

This documents and helps clarify the existing system that has been deployed and used during the pilot, and that has helped determine requirements going forward. The existing system is a robust basis, but needs API reworking for enhanced usability by data

[2022-08-16 20:37] #131 closed

[2022-08-17 20:05] #128 closed

[2022-08-17 20:22] sujaypatil96 commented on #128
@mslarae13 closing this issue since all the SPRUCE samples have been removed from NMDC Mongo.

[2022-09-01 18:30] ssarrafan commented on #117
@elais can this be closed?  Are you actively working on this still?

[2022-09-01 18:35] ssarrafan commented on #127
@turbomam moving this to Sept but please let me know if you're not actively working on it for the next 2 weeks

[2022-09-08 16:55] elais opened #132 "Design and implement the workflow triggering mechanism in the runtime"
We need to create a workflow triggering mechanism using dagster and the runtime api. At a high level this needs to look like the following.

- [ ] #134
- [ ] #135
- [ ] #136
- [ ] Make sure the marks are applied to the whole graph.

This will require a two tier design, one in the API runtime and one tier in dagster. Ideally dagster will speak to MongoDB through the API and keep track of the graph

[2022-09-08 20:48] Michal-Babins opened #133 "Incremental modification to existing workflows to work in automation"

[2022-09-08 20:50] Michal-Babins commented on #133
Convert all workflows to model what will work with runtime "claim jobs" and compute site submission.

[2022-09-12 16:07] elais opened #134 "Store the individual job record for the workflow in MongoDB"

[2022-09-12 16:09] elais opened #135 "Store which jobs constitute a single workflow"

[2022-09-12 16:09] elais opened #136 "Create new jobs to be claimed when a workflow is changed"
New jobs must be created when a workflow is changed. These new jobs will be read by the compute automation agent and claimed. These new jobs will also propagate up the tree of jobs to be created and make sure all dependent workflows also get rerun as well.

[2022-09-15 11:55] dwinston opened #137 "ipynb walkthrough of existing (pilot) support for workflow automation"
[The notebook](https://github.com/microbiomedata/nmdc-runtime/blob/298effa9bcc8e43db072b9efa9bc9107d05f547e/docs/nb/wf_automation.ipynb) walks through existing (pilot) functionality for (meta)data contributors to

1. *register workflows*, to

2. *install sensor logic* for automated workflow execution, to

3. *programmatically register workflow-run state transitions*, i.e. run events, and to

3. *p

[2022-09-15 11:55] #137 closed

[2022-09-21 08:22] #132 closed

[2022-09-22 12:40] dwinston opened #143 "identifier shoulder + typecode lifecycle"
* allocation
* assignment
* binding
* activation
* resolution

/cc @pkalita-lbl

[2022-09-22 12:47] dwinston opened #144 "dev onboarding workshop"
Scheduled for 2pm ET / 11am PT today.

/cc @pkalita-lbl @sujaypatil96 @elais @shreddd @turbomam @Michal-Babins

Goals for participants:
* spin up runtime stack on localhost
* implement tiny addition to codebase, perform tests
* review pull requests

[2022-09-22 12:58] turbomam commented on #144
I'm coming. Should I make a calendar entry and invite everyone?

[2022-09-22 13:00] turbomam commented on #144
Are there any prerequisites I should set up in advance?

[2022-09-22 13:54] dwinston commented on #144
@turbomam You can ensure your local docker setup is sound by cloning the repo and running the tests locally:

[code]

[2022-09-22 18:15] turbomam opened #145 "mark try branching and pushing"

[2022-09-29 20:15] #134 closed

[2022-09-30 19:45] dwinston commented on #143
#156 adds typecodes and a correspondingly revised shoulder scheme to ID minting, with support for previous IDs minted using the legacy scheme. Not merged because need to ensure ramp-down of any ongoing processes that use the legacy scheme. Will do in coming months as part of engagement immediately following this one.

New data types are presently accommodated via upstream schema migrations and via

[2022-09-30 19:45] #143 closed

[2022-09-30 19:59] dwinston commented on #144
Recording and transcript of the nmdc-runtime dev onboarding session on 2022-09-22 was emailed to all participants the following day. Will add to NMDC Google Drive when appropriate.

For user-facing documentation on system use, see https://microbiomedata.github.io/nmdc-runtime/

[2022-09-30 19:59] #144 closed

[2022-10-04 19:24] elais commented on #136
When a workflow is changed create new job record to be claimed

[2022-10-04 21:30] ssarrafan commented on #133
Moving to next sprint per @hubin-keio

[2022-10-04 21:36] ssarrafan commented on #136
Moving to next sprint per @hubin-keio

[2022-10-05 16:53] elais opened #157 "Add authentication to outputs endpoint"
Use site based authentication for outputs endpoint

[2022-10-06 18:55] elais opened #159 "Conform job claim response to response expected by compute automation side"
When a user claims a job they would like the response to be something they can use. Currently the response sends back something like as follows

[code]

But they would like a response that looks like the following

[code]

[2022-10-06 18:56] elais opened #160 "Change outputs endpoint name to activities"
The outputs endpoint needs to be changed to `activities` to better reflect the type of requests it gets. Should also rename some of the models associated with activities.

[2022-10-06 19:09] elais opened #161 "Populate IDs in the runtime"
Add examples of which IDs we need, when they need to be defined, and how they will be propagated.

[2022-10-06 19:16] elais opened #162 "new process to build components separately"
Modules added to the components subdirectory are currently being imported directly to the main nmdc api app. Ideally we want to build, test, and version them separately from the api app to maintain a good separation of concerns. However this presents its own challenges including

1. Setting up the repo to import all components along with api app in the dev environment
2. Aggregating test results f

[2022-10-06 19:18] elais opened #163 "Create static website for publishing code coverage"
A static page for showing code coverage would be both good and informative.

[2022-10-06 19:49] dwinston opened #164 "update to nmdc-schema>=7.0.0"
see also microbiomedata/nmdc-server#790

[2022-10-06 19:50] dwinston commented on #105
stale. superceded by #164

[2022-10-06 19:50] #105 closed

[2022-10-06 19:52] dwinston commented on #164
@turbomam can prepare a staging mongo instance that reflects schema v7.0.0

[2022-10-08 01:49] turbomam opened #165 "data_object_set record illegally lacking and `id`"
The DataObject with `{'md5_checksum': 'f13923611789eb5c21ccd45f9607c656'}` is lacking an `id` field.

It looks like their are other DataObjects whose `id` is just their `md5_checksum` with the "nmdc" prefix:

[code]

@dwinston @mslarae13 who else should we get involved?

- determine whether we can permanently repair this one entry according to the "nmdc:" + `md5_checksum` pattern
- figure out how

[2022-10-08 02:26] elais commented on #165
Is this in prod or dev?
On Oct 7, 2022 at 19:49 -0600, Mark A. Miller ***@***.***>, wrote:

[2022-10-08 02:30] turbomam commented on #165
It's from the 'nmdc' database on localhost:27027 when tunneling like this:

[code]

Is that helpful? I didn't think there were both `prod` and `dev` mongodb instances.

[2022-10-08 02:48] elais commented on #165
Donny can confirm but I think there's one mongo instance with dev and prod databases attached. The url you sent looks like it's dev related so I think it's ok for there to be some bad data in it. I'll confirm on Monday unless someone else chimes in who's 100% sure here.
On Oct 7, 2022 at 20:30 -0600, Mark A. Miller ***@***.***>, wrote:

[2022-10-08 15:40] scanon commented on #161
Let's use the RQC workflow to identify the various IDs we need to resolve or define.

informed_by: This should reference the omics_processing_activity_id that this will be linked to.
                        This has to be provided as part of the raw data submission.  So we just need to propagate that along.

part_of:           This would be the root ID (e.g. nmdc:mga0xxx).  I guess we would have t

[2022-10-10 17:26] elais commented on #165
@dwinston could you weigh in on this?

[2022-10-10 17:32] elais commented on #161
In what context do these IDs need to be resolved? When submitting an activity set? So new read_QC activity sets should include these ids in their request json, or should these be included as fields in the workflows we store in the runtime?

[2022-10-10 22:53] dwinston commented on #165
There is only one remote mongo host instance in active use. Its 'nmdc' database is the production database. Other databases on that instance, for example one that stores records that have been “deleted”, and one used to stage and validate records by some runtime jobs, are not generally accessible. Development is currently done on one’s local machine with a local, dockerized mongo host.

@turbomam

[2022-10-11 16:55] scanon commented on #161
As the runtime is creating the job records that can be claimed, it will need to generate these IDs.

The discussion of the IDs are in this slide deck...

https://docs.google.com/presentation/d/1Kh43lFyHBJX5RiV_dJun3DyjHdUE_Q97rhX2WEZJ9Lw/edit#slide=id.p

[2022-10-13 16:56] elais commented on #160
@Michal-Babins @scanon

Was looking at the schema and noticed that some RQC specific fields are part of something called read_qc_analysis_statistic. So was wondering if we wanted to reflect that in the request, where

[code]

Right now they are top level in the request but nesting them would be an easy fix, and we could use a script to fix what's already in the dev database

[2022-10-20 19:07] #133 closed

[2022-10-20 19:08] #157 closed

[2022-10-20 19:08] #160 closed

[2022-10-20 23:59] ssarrafan commented on #159
@elais can this be moved to the next sprint yet, beginning Oct 24th?

[2022-11-01 23:18] ssarrafan commented on #136
@elais what's the status of this one?  Are you still working on it?

[2022-11-23 21:29] ssarrafan commented on #136
moving this to the next sprint since I haven't heard back